{% extends 'accounts/base.html' %}

{% block title %} Forgot Password {% endblock title %}

{% block accounts_title %} Reset Your Password {% endblock accounts_title %}

{% block accounts_body %} 

<div class="d-flex justify-content-center mt-2">
    <div style="width: 100%; max-width: 400px;">
        <form class="p-4 border rounded" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email">
                {% for error in form.email.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor%}
            </div>

            <button type="submit" class="btn btn-primary w-100">Reset</button>
        </form>

        <div class="d-flex justify-content-center mt-3 px-1">
            <a href="{% url 'accounts:sign_in' %}">Already know your password? Sign In</a>
        </div>
    </div>
</div>

{% endblock accounts_body %}
