{% extends 'accounts/base.html' %}

{% block title %} Reset Password {% endblock title %}

{% block accounts_title %} Reset Your Password {% endblock accounts_title %}

{% block accounts_body %} 

<div class="d-flex justify-content-center mt-2">

    <div style="width: 100%; max-width: 400px;">

        {% if form %}
            <div class="alert alert-primary d-flex align-items-center" role="alert">
                <i class="bi bi-info-circle"></i>
                <div class="ms-2">
                    Enter your new password. You will automatically be logged in.
                </div>
            </div>

            <form class="p-4 border rounded" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="new_password1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="new_password1" name="new_password1">
                    {% for error in form.new_password1.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <label for="new_password2" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="new_password2" name="new_password2">
                    {% for error in form.new_password2.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                </div>

                <button type="submit" class="btn btn-primary w-100">Reset</button>
            </form>
        {% else %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <i class="bi bi-info-circle"></i>
                <div class="ms-2">
                    The reset password link is invalid or has expired.
                </div>
            </div>
        {% endif %}

        <div class="d-flex justify-content-center mt-3 px-1">
            <a href="{% url 'accounts:sign_in' %}">Already know your password? Sign In</a>
        </div>
    </div>
</div>

{% endblock accounts_body %}
