{% extends 'accounts/base.html' %}

{% block title %} Reset Password Done {% endblock title %}

{% block accounts_title %} Reset Password Done {% endblock accounts_title %}

{% block accounts_body %} 

<div class="d-flex justify-content-center mt-2">
    <div style="width: 100%; max-width: 400px;">
        <div class="alert alert-info">An email has been sent with a link to reset your password.</div>
        <div class="d-flex justify-content-center mt-3 px-1">
            <a class="btn btn-primary w-100" href="{% url 'accounts:sign_in' %}">Already know your password? Sign In</a>
        </div>
    </div>
</div>

{% endblock accounts_body %}
