{% extends 'accounts/base.html' %}

{% block title %} Sign In {% endblock title %}

{% block accounts_title %} Sign In {% endblock accounts_title %}

{% block accounts_body %} 


<div class="d-flex justify-content-center mt-2">
    <div style="width: 100%; max-width: 400px;">

        {% if form.errors %}
            <div class="alert alert-danger">Invalid Credentials</div>
        {% endif %}

        <form class="p-4 border rounded" method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="remember">
                <label class="form-check-label" for="remember">Remember Me</label>
            </div>

            <button type="submit" class="btn btn-primary w-100">Sign In</button>
        </form>

        <div class="d-flex justify-content-between mt-3 px-1">
            <a href="{% url 'accounts:forgot_password' %}">Forgot Password?</a>
            <a href="{% url 'accounts:sign_up' %}">Don’t have an account? Register</a>
        </div>

    </div>
</div>

{% endblock accounts_body %}
