{% extends 'core/base.html' %}

{% load static %}

{%  block head %}
    <link href="{% static 'core/css/browse.css' %}" rel="stylesheet" />
{%  endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Browse Books</h1>
    <p>Explore our collection of books.</p>

    <div class="mb-4">
        <form class="d-flex" method="get">
            <input class="form-control me-2" type="search" name="q" placeholder="Search by name or category" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
    </div>

    <div class="row">
        {% for i in ""|ljust:17 %}
        <div class="col-md-2 mb-4">
            <div class="book-card">
                <img src="{% static 'core/img/book-01.png' %}" class="img-thumbnail d-block mx-auto book-cover" alt="Book Cover">
                <div>
                    <h5 class="text-center fw-bold mt-2 book-title">Sample Book Title</h5>
                    <p class="text-center book-category">Test Category</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock body %}