.book-card {
    width: 150px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.book-card:hover {
    background-color: lightblue;
}

.book-cover {
    width: 150px;
    height: 200px;
}

.book-title,
.book-category {
    font-size: .9rem;
}